@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@
@*App Bar*@
<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                <MatAppBarTitle>Blazor Material Design App</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">
                     Home
                </NavLink>
                <NavLink class="text-white nav-link" href="counter" >
                     Counter
                </NavLink>
                <NavLink class="text-white nav-link" href="fetchdata" >
                     FetchData
                </NavLink>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        @*Navigation Drawer*@
        <MatDrawerContainer>
            <MatDrawer Opened="@Opened" Mode="@MatDrawerMode.Modal">
                @* List *@
                <MatListGroup>
                    <MatListGroupSubHeader>Dashboard</MatListGroupSubHeader>
                    <MatList>
                         <MatListItem>
                            Posts
                        </MatListItem>
                        <MatListItem>
                            Pages
                        </MatListItem>
                        <MatListItem>
                            Media
                        </MatListItem>
                    </MatList>
                    <MatListGroupSubHeader>Account Settings</MatListGroupSubHeader>
                    <MatList>
                        <MatListItem>
                            Profile
                        </MatListItem>
                        <MatListItem>
                            Change Password
                        </MatListItem>
                        <MatListItem>
                            Logout
                        </MatListItem>
                    </MatList>
                </MatListGroup>
            </MatDrawer>
        </MatDrawerContainer>
        <MatDrawerContent Style="width:100vw; height : 100%;">
            <div class="container">
                @Body
            </div>
        </MatDrawerContent>
    </MatAppBarContent>
</MatAppBarContainer>

@functions {
    bool Opened = false;
    void ButtonClicked()
    {
        Opened = !Opened;
    }

}